.App{
  height: 100vh;
  width: 100vw;
 display: flex;
 flex-direction: column;
 /* justify-content: center; */
 align-items: center;
}
.maindiv{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
font-size: 2rem;
font-family: monospace;
}
h3{
font-size:1.7rem;
font-family: monospace;
color: rgb(193, 0, 106);
}

button{
  height: 25px;
  width: 70px;
  background-color:rgb(193, 0, 106) ;
  border: none;
  color: white;
  border-radius: 5px;
}
p{
font-size: 1rem;
font-family: monospace;
}
.para{
font-size: .8rem;
font-family: monospace;
font-style: italic;
}
.headerdiv{
  height: 20%;
  width: 70%;
 display: flex;
  align-items: center;
  justify-content:space-around;
}
.bodydiv{
  height: 80%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}
